@keyframes spinner {
  100% {
    transform: rotate(3600deg);
  }
}

@keyframes loaded-bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes viewed-bar {
  0% {
    width: 0;
  }
  100% {
    width: 35%;
  }
}

@keyframes checkbox-color {
  0% {
    border-color: $green-color-disabled;
  }
  100% {
    border-color: $green-color-active;
  }
}

@keyframes popup-animation {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  10%, 30% {
    transform: translateX(-10px);
  }
  20%, 40% {
    transform: translateX(10px);
  }
}
