.main-content {
  flex: 1;
}

.main-content__video {
  min-width: 320px;
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.main-content__video-info {
  min-width: 300px;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 10px;
}

.main-content__related-video {
  min-width: 300px;
  max-width: 720px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}

