.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(black, 0.5);
  position: absolute;
  top: 0;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.popup--hidden {
  display: none;
}

.popup__content {
  width: 95%;
  max-width: 400px;
  height: 30%;
  max-height: 250px;
  min-height: 200px;
  background-color: $light-gray-color;
  margin-top: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.popup__content--animation {
  animation: popup-animation 0.5s ease-in-out 0s normal none 1 running;
}

.popup__close {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 14px;
  height: 14px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.popup__close::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 6px;
  width: 2px;
  height: 16px;
  background-color: #5b5b5b;
  transform: rotate(45deg);
}

.popup__close::after {
  content: "";
  position: absolute;
  top: -1px;
  right: 6px;
  width: 2px;
  height: 16px;
  background-color: #5b5b5b;
  transform: rotate(-45deg);
}

.popup__close:hover,
.popup__close:focus {
  transform: rotate(180deg);
}


.popup__service {
  position: relative;
}

.popup__input {
  display: none;
}

.popup__label {
  padding-left: 40px;
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  color: #333333;
  position: relative;
  cursor: pointer;
}

.popup__label::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: white;
  left: 0;
  top: 0;
  border: 3px solid $green-color-disabled;
  animation: checkbox-color 1s ease-in-out 0s infinite alternate;
}

.popup__input:checked + .popup__label::before {
  border-color: $green-color-active;
  animation: none;
}

.popup__input:checked + .popup__label::after {
  content: url("../img/check.png");
  position: absolute;
  left: 8px;
  top: 9px;
  width: 14px;
  height: 15px;
}

.popup__label-link {
  color: inherit;
  cursor: pointer;
}

.popup__link {
  display: block;

  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  padding: 25px 15px;
  border-radius: 5px;
  background-color: $green-color-disabled;
  pointer-events: none;
  cursor: not-allowed
}


.popup__input:checked ~ .popup__link {
  background-color: $green-color-active;
  pointer-events: auto;
  cursor: pointer;
}

.popup__input:checked ~ .popup__link:hover,
.popup__input:checked ~ .popup__link:focus{
  background-color: $green-color-active-hover;
}

.popup__input:checked ~ .popup__link:active {
  background-color: $green-color-active-click;
}
