$gray-color: #cacaca;
$light-gray-color: #cccccc;
$red-color: #a20000;
$blue-color: #499ccc;
$footer-text: #888888;
$green-color-disabled: #90ae66;
$green-color-active: #559100;
$green-color-active-hover: #4a7f00;
$green-color-active-click: #3f6c00;
$background-menu-color: #555555;
